* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}

.product {
  border: 5px solid black;
  margin: 100px;
  width: 900px;
}

.add-cart {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.product-title,
.details-title {
  text-transform: uppercase;
  font-weight: bold;
}

.product-title {
  text-align: center;
  background-color: rgb(243, 242, 242);
  padding: 20px 0;
  position: relative;
}

/*create extra elements after this title*/
.product-title::after {
  position: absolute;
  top: -20px;
  left: -50px;
  content: "sale";
  color: white;
  background-color: red;
  padding: 3px 10px;
  letter-spacing: 3px;
  border: 1px solid black;
}

.details-title {
  margin-bottom: 20px;
}

.price {
  font-weight: bold;
  font-size: 22px;
}

.shipping {
  color: grey;
  text-transform: uppercase;
  font-size: 12px;
  align-self: center;
}

.details-list {
  list-style-type: square;
  font-weight: bold;
}

.product-description {
  font-weight: bold;
}

.more-info {
  display: inline-block;
  color: black;
  margin-bottom: 40px;
}

.details-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

a.more-info:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.add-cart {
  width: 100%;
  padding: 20px 0;
  border-top: 4px solid black;
}

.add-cart:hover {
  color: black;
  font-weight: bold;
  background-color: white;
}

.color {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: black;
  margin-right: 10px;
}

.color:last-child {
  margin-right: 0;
}

.color-red {
  background-color: red;
}

.color-blue {
  background-color: blue;
}

.color-brown {
  background-color: brown;
}

.color-green {
  background-color: green;
}

.color-yellow {
  background-color: yellow;
}
ul {
  list-style-position: inside;
}
.mid-section {
  display: flex;
  justify-content: space-between;
}

.mid-part1 {
  flex: 0 0 auto;
  height: 250px;
}
.mid-part2,
.mid-part3 {
  flex: 0 0 280px;
  margin-top: 10px;
}

.pricing {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
