* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
}

.product {
  border: 5px solid black;
  margin: 50px auto;
  width: 930px;
}

.product-img {
  width: 30%;
  height: auto;
  float: left;
}

.add-cart {
  background-color: black;
  color: white;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.product-title,
.details-title {
  text-transform: uppercase;
  font-weight: bold;
}

.product-title {
  text-align: center;
  background-color: rgb(243, 242, 242);
  padding: 20px 0;
  position: relative;
}

/*create extra elements after this title*/
.product-title::after {
  position: absolute;
  top: -20px;
  left: -50px;
  content: "sale";
  color: white;
  background-color: red;
  padding: 3px 10px;
  letter-spacing: 3px;
  border: 1px solid black;
}

.details-title {
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  font-size: 24px;
  float: left;
  margin-bottom: 20px;
}

.shipping {
  float: right;
  color: grey;
  text-transform: uppercase;
  font-size: 14px;
  margin-top: 5px;
}

.product-description {
  font-size: 16px;
  clear: both;
  margin-bottom: 20px;
}

.details-list {
  margin-top: 20px;
  list-style-type: square;
  font-weight: bold;
}

.more-info {
  display: inline-block;
  color: black;
  margin-bottom: 20px;
}

ul {
  margin-bottom: 10px;
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

a.more-info:hover {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.add-cart {
  width: 100%;
  padding: 20px 0;
  border-top: 4px solid black;
  clear: both;
}

.add-cart:hover {
  color: black;
  font-weight: bold;
  background-color: white;
}

.colors {
  margin-bottom: 10px;
}

.color {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: black;
  margin-right: 10px;
  margin-top: 20px;
}

.color:last-child {
  margin-right: 0;
}

.color-red {
  background-color: red;
}

.color-blue {
  background-color: blue;
}

.color-brown {
  background-color: brown;
}

.color-green {
  background-color: green;
}

.color-yellow {
  background-color: yellow;
}

.mid-box {
  float: left;
  padding: 40px 40px;
  width: 320px;
  height: 220px;
}

.bottom-box {
  float: right;
  padding: 40px 40px;
  width: 320px;
}
